name: Build PROD Image
on:
  push:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.NOOR }}
          password: ${{ secrets.HAMZA123 }}
      - name: Build and Push
        run: |
          docker build -t ${{ secrets.NOOR }}/cloud-native-app:prod-${{ github.sha }} .
          docker push ${{ secrets.NOOR }}/cloud-native-app:prod-${{ github.sha }}